@charset "UTF-8";
/*
 * rest scss
 */
section, article, nav, aside, footer, header, div, p, ul, li, input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* ********************重置样式 reset******************** */
/* *********PC端********** */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, figure, figcaption {
  margin: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body {
  font: 14px/1.5 "微软雅黑", "宋体", arial;
  width: 100%;
  color: #333;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 清除点击出现虚拟框 */
a {
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:focus {
  outline: 0;
}
a:link, a:visited {
  color: #333;
  text-decoration: none;
}

a img {
  border: none;
}

input, textarea, select {
  outline: none;
  font: 12px/1.5 "微软雅黑", "宋体", arial;
}

/* 清除浮动 */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  content: "\200B";
  clear: both;
  height: 0;
}

/* *********移动端********** */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, figure, figcaption {
  margin: 0px;
}

/* 改变盒子模型 */
section, article, nav, aside, footer, header, div, p, ul, li, input, textarea {
  display: block;
}

html, body {
  /* 禁止选中文本 */
  /* iphone禁用文字大小调整 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  font-size: 625%;
}

body {
  font: 0.16rem/1.6 "Helvetica Neue", Helvetica, STHeiTi, Microsoft YaHei, sans-serif, Microsoft JhengHei, Arial;
  color: #333;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 清除点击虚拟框 */
a, div, p, span, ul, li, i, img, input, select {
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus {
  outline: 0;
}

a:link, a:visited {
  color: #333;
  text-decoration: none;
}

a img {
  border: 0 none;
}

a, img {
  /* 禁止长按链接与图片弹出菜单 */
}

input, textarea, select {
  outline: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Microsoft YaHei, sans-serif, Microsoft JhengHei, Arial;
}

input {
  /* 清除 iphone 中 input 默认样式 */
  -webkit-appearance: none;
}

/* 清除浮动 */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  content: "\200B";
  clear: both;
  height: 0;
}

body {
  min-width: 320px;
  max-width: 540px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  line-height: 17px;
}

:-moz-placeholder {
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  line-height: 17px;
}

::-moz-placeholder {
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  line-height: 17px;
}

:-ms-input-placeholder {
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  line-height: 17px;
}

/*
 * components scss
 */
.form-wrapper {
  padding: 30px 0 0;
}

.form-item {
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.form-item input {
  width: 100%;
  color: #fff;
  font-size: 15px;
  line-height: 17px;
  padding: 12px 15px 12px 34px;
  background: #323236;
}
.form-item i {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 12px;
  left: 8px;
}
.form-item i.icon-phone {
  background: url("../images/loding_tel.png") center center no-repeat;
  background-size: contain;
}
.form-item i.icon-password {
  background: url("../images/loding_mm.png") center center no-repeat;
  background-size: contain;
}

.form-sumbit {
  padding: 10px 0;
}

.form-sumbit-btn {
  width: 100%;
  height: 46px;
  font-size: 18px;
  color: #fff !important;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  display: block;
  background: #2fc7b0;
}

/*
 * pages scss
 */
.login-wrapper {
  background: url("../images/login_bg.png") center center no-repeat;
  background-size: cover;
}

.login-box {
  padding: 90px 32px 0;
}
.login-box .login-img {
  text-align: center;
}
.login-box .login-img p {
  color: #fff;
  font-size: 15px;
  line-height: 17px;
  margin-top: 12px;
  font-weight: bold;
}

.login-link-box a {
  color: #2fc7b0;
  display: block;
}
.login-link-box a.left {
  float: left;
}
.login-link-box a.right {
  float: right;
}
