@charset "utf-8";
$lineColor: #dbd6d6;

//myreport
.report-pages-wrapper {
    .report-infor {
        padding: 18px 25px 10px;
        background: #fff;
        .user-infor {
            position: relative;
            padding: 8px 0 18px;
            border-bottom: .5px solid $lineColor;
            .user-img {
                width: 50px;
                height: 50px;
                overflow: hidden;
                @include border-radius(50px);
                border: 1px solid $lineColor;
            }
            .user-tel-infor {
                position: relative;
                padding-left: 70px;
                font-weight: bold;
                @include font-size(#333, 16px, 18px);
                h3 {
                    font-weight: bold;
                    padding: 5px 0 6px;
                }
                .tel-num {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -16px;
                    display: block;
                    width: 35px;
                    height: 35px;
                    @include background('../images/presentation_phone.png', center, center, contain);
                } 
            }
            .report-results {
                position: absolute;
                bottom: -35px;
                left: 40%;
            }
        }
        
        //02
        .report-num {
            padding: 8px 0;
            span {
                display: block;
                @include font-size(#666, 13px, 18px);
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
                img {
                    float: left;
                    margin-right: 4px;
                }
            }
        }
        
        //03
        .user-message {
            li {
                padding: 4px 0;
                @include font-size(#666, 13px, 18px);
                img {
                    float: left;
                    margin-right: 4px;
                }
            }
        }
        
        //04
        .user-addr {
            padding-bottom: 10px;
            @include font-size(#666, 13px, 20px);
            li {
                padding: 4px 0;
                .left {
                    width: 5em;
                    float: left;
                }
                .right {
                    padding-left: 5em;
                }
            }
        }
        
        //05
        .report-time {
            text-align: center;
            @include font-size(#a2a2a2, 12px, 14px);
        }
    }
}

//
.user-data-list {
    background: #fff;
    padding-left: 15px;
    li {
        padding: 15px 15px 15px 0;
        border-bottom: .5px solid $lineColor;
        &:last-child {
            border-bottom: .5px solid #fff;
        }
        .data-item {
            display: block;
            height: 32px;
            @include font-size(#333, 16px, 32px);
            span {
                width: 32px;
                height: 32px;
                display: block;
                float: left;
                margin-right: 10px;
                &.icon-01 {
                    @include background('../images/bg_ziliao.png', center, center, contain);
                }
                &.icon-02 {
                    @include background('../images/bg_yunyings.png', center, center, contain);
                }
                &.icon-03 {
                    @include background('../images/bg_xxw.png', center, center, contain);
                }
                &.icon-04 {
                    @include background('../images/bg_tb.png', center, center, contain);
                }
            }
            i {
                width: 16px;
                height: 16px;
                display: block;
                float: right;
                margin-top: 8px;
                @include background('../images/presentation_more.png', center, center, contain);
            }
        }
    }
}

//footer
.report-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

//历史报告
.report-his-list {
    background: #fff;
    padding-left: 15px;
    li {
        color: #222;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        padding-right: 15px;
        border-bottom: .5px solid $lineColor;
        &:last-child {
            border-bottom: .5px solid #fff;
        }
        a {
            display: block;
            span {
                color: #999;
                float: right;
                font-size: 12px;
            }
        }
    }
}

//我的空间
.space-work-wrapper {
    width: 100%;
    position: fixed;
    top: 44px;
    left: 0;
}

.my-space-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    .my-space {
        width: 100%;
        display: block;
        height: 27px;
        text-align: center;
        background: #3286fe;
        @include font-size(#fff, 12px, 27px);
    }
}

.space-view-wrapper {
    .space-capacity {
        padding: 0 20px 25px;
        background: #fff;
        h2 {
            padding: 25px 0 20px;
            font-weight: bold;
            @include font-size(#333, 18px, 20px);
            span {
                float: right;
                @include font-size(#666, 16px, 20px);
                em {
                    font-style: normal;
                }
            }
        }
        .space-box {
            position: relative;
            .space-bg, .space-ing {
                height: 12px;
                background: #e1e0e0;
                @include border-radius(12px);
            }
            .space-ing {
                max-width: 100%;
                background: #0067ff;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    
    //购买空间
    .buy-space-wrapper {
        padding: 25px 20px 15px;
        background: #fff;
        h2 {
            font-weight: bold;
            @include font-size(#333, 18px, 20px);
        }
        .sell-space {
            padding-top: 20px;
        }
    }
}

.sell-space-list {
    li {
        width: 33.33%;
        float: left;
        margin-bottom: 20px;
        a {
            display: block;
            margin: 0 5px;
            height: 44px;
            text-align: center;
            border: 1px solid #0067ff;
            @include border-radius(3px);
            @include font-size(#0067ff, 13px, 44px);
        }
    }
}
