@charset "utf-8";
$inputBgColor: #323236;
$loginBgColor: #2fc7b0;
$walletBgColor: #467af1;

//form
.form-wrapper {
    padding: 30px 0 0;
}
.form-item {
    display: block;
    margin-bottom: 10px;
    position: relative;
    input {
        width: 100%;
        @include font-size(#fff, 15px, 17px);
        padding: 15px 15px 14px 34px;
        background: $inputBgColor;
    }
    i {
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 14px;
        left: 8px;
        &.icon-phone {
            @include background('../images/loding_tel.png', center, center, contain);
        }
        &.icon-imgCode {
            @include background('../images/loding_txm.png', center, center, contain);
        }
        &.icon-password {
            @include background('../images/loding_mm.png', center, center, contain);
        }
        &.icon-phoneCode {
            @include background('../images/loding_yzm.png', center, center, contain);
        }
    }
    &.form-item-register {
        margin-bottom: 0;
        input {
            background: none;
            border-bottom: .5px solid #dbd6d6;
        }
        i {
            left: 0px;
        }
    }
    .getPhone-code {
        display: block;
        width: 95px;
        height: 32px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 32px;
        position: absolute;
        right: 0;
        top: 7px;
        z-index: 1;
        background: $loginBgColor;
    }
    .img-code {
        display: block;
        position: absolute;
        right: 0;
        top: 7px;
        z-index: 1;
    }
}

//button
.form-sumbit {
    padding: 10px 0;
}
.form-sumbit-btn {
    width: 100%;
    height: 46px;
    font-size: 18px;
    color: #fff !important;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    display: block;
    background: $loginBgColor;
}
.form-sumbit-register {
    padding-top: 60px;
}
//钱包按钮背景色
.walletBgColor {
    background: $walletBgColor;
}

//解绑银行卡
.bank-card-btn {
    width: 170px;
    height: 48px;
    display: inline-block;
    text-align: center;
    border: 1px solid #999;
    @include border-radius(48px);
    @include font-size(#666,15px,48px);
}

//新增一条
.add-btn {
    width: 100px;
    height: 26px;
    border: 1px solid #a2a9ab;
    @include border-radius(26px);
    @include font-size(#666,14px,26px);
    display: inline-block;
}

//圆角
.border-radius-46 {
    @include border-radius(46px);
}
.border-radius-5 {
    @include border-radius(5px);
}

//生成报告
.button-wrapper {
    text-align: center;
    padding: 30px 20px;
    &-02 {
        text-align: center;
        padding: 10px 20px 0;
    }
    &-03 {
        text-align: center;
        padding-top: 5px;
    }
}

//list
.list-item {
    background: #fff;
    padding-left: 20px;
    li {
        padding: 12px 20px 12px 0;
        border-bottom: .5px solid #dbd6d6;
        &:last-child {
            border-bottom: .5px solid #fff;
        }
        .link-item {
            width: 100%;
            display: block;
            .img-box {
                width: 35px;
                height: 35px;
                overflow: hidden;
                @include border-radius(35px);
                float: left;
                img {
                    width: 35px;
                    height: 35px;
                    display: block;
                }
            }
            .user-right {
                margin-left: 50px;
                h3 {
                    @include font-size(#222, 14px, 16px);
                }
                p {
                    margin-top: 3px;
                    @include font-size(#666, 13px, 15px);
                    span {
                        float: right;
                    }
                }
            }
        }
    }
}
